.container {
  background-color: gray;
  margin: 50px auto;
  max-width: 500px;
  padding: 50px;
  font-size: 24px;
}
#name {
  padding: 5px 10px;
  margin-bottom: 20px;
}
#email {
  padding: 5px 10px;
  margin-bottom: 20px;
}
.btn {
  background-color: green;
  border: 1px solid green;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
}
